.progress-container {
    position: relative;
    height: 10px;
    width: 100%;
    max-width: 600px;
    background-color: #eee;
    border-radius: 12px;

  
  
  .progress-bar {
    height: 100%;
    background: linear-gradient(to right, #ff6a6a, #fbc531);
    border-radius: 12px 0 0 12px;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-label {
    position: absolute;
    top: -11px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 8px;
    border-radius: 8px;
    font-weight: bold;
  }
}
  
 